<h1>Edit the album</h1>

<form action="<%= album_url(@album) %> " method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">

  <label>Album title
    <input type="text" name="album[title]" value="<%= @album.title %>">
  </label>
  <br>

  <label>Year
    <input type="text" name="album[year]" value="<%= @album.year %>">
  </label>
  <br>
  <button>Edit the album!</button>
</form>
