<h1>Bands</h1>
  <% @bands.each do |band| %>
    <a href="<%= band_url(band) %>"> <%= band.name %> </a>
    <br>
  <% end %>

  <form action="<%= new_band_url %>" method="get">

    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="submit" value="Add a band">
  </form>
